.blogPage {
    padding: 15vh 0;
    width: 100%;
}

.header {
    padding: 10vh 0;
    text-align: center;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFFFF, #ffffff, #f0f9ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.title {
    font-size: 5vh;
    width: 45%;
    margin: 0 auto;
}

.subtitle {
    font-size: 2.2vh;
    width: 35%;
    margin: 0 auto;
    margin-top: 1vh;
}

.blogImage {
    width: 80%;
    height: 70vh;
    object-fit: cover;
    margin: 3vh 0;
}